body {
  background-color: #22266a;
  color: #f5f6f7;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

button {
  display: block;
  margin: 1rem auto;
  background-color: #eaa92e;
  color: #22266a;
  border: none;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #f5f6f7;
  color: #22266a;
}

#timerContainer,
#hydrationContainer {
  margin-top: 2rem;
}
#timerDisplay {
  font-size: 2rem;
  margin: 1rem;
}
#waterBarContainer {
  width: 80%;
  height: 25px;
  background-color: #f5f6f7;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}
#waterBar {
  height: 100%;
  width: 0%;
  background-color: #eaa92e;
  transition: width 0.5s;
}
.hidden {
  display: none;
}
footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  opacity: 0.7;
}
